@import 'Scss/reset';
@import 'Scss/colors';
@import 'Scss/fonts';

html {
    height: 100%;
    scroll-behavior: initial;
}
body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu',
        'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

    width: 100%;
    height: 2000vh;
    overflow: auto;

    color: $white;

    position: absolute;

    box-sizing: border-box;

    &::-webkit-scrollbar {
        display: none;
    }
}
