$white: #ffffff;
$off-white: #fefefe;
$blue: #00a0df;
$grey: rgba(15, 10, 36, 0.6);
$overlay: rgba(15, 10, 36, 0.95);
$slider-button-blue: rgba(0, 160, 223, 0.5);
$menu-overlay: rgba(15, 10, 36, 0.95);
